.card {
  border: 1px solid white;
  transition: 400ms;
  box-sizing: border-box;
}

.card:hover {
  transform: scale(1.05);
  border: 1px solid yellow;
  cursor: pointer;
  z-index: 1;
}

.card p {
  text-transform: capitalize;
  padding: 0;
}